@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  src: url(fonts/Ubuntu-R.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Bold';
  font-style: normal;
  src: url(fonts/Ubuntu-B.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Light';
  font-style: normal;
  src: url(fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Light';
  font-style: italic;
  src: url(fonts/Ubuntu-LI.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Thin';
  font-style: normal;
  src: url(fonts/Ubuntu-Th.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  src: url(fonts/UbuntuMono-R.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  src: url(fonts/UbuntuMono-RI.ttf) format('truetype');
}

:root {
  --MAIN-TEXT-color: #e6e6e6;
  --MAIN-LINK-color: #599a3e;
  --MAIN-LINK-HOVER-color: #74b559;
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ddd;
}

html {
  --scrollbarBG: black;
  --thumbBG: var(--MAIN-LINK-color);
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  font-size: 90% !important;
  font-family: 'Ubuntu';
  background-color: black;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu Thin';
  color: #aaa !important;
}

li::marker {
  margin-right: 5px;
}

code {
  font-family: 'Ubuntu Mono';
  background-color: #333;
  border: 0;
  color: var(--MAIN-TEXT-color);
  padding: 2px;
  font-size: 100%;
}

div.notices.note p,
div.notices.info p,
div.notices.tip p,
div.notices.warning p {
  border-top-width: 27px;
}

div.notices p {
  border-radius: 4px;
  font-size: 100%;
  padding: 10px;
}

.notices code {
  background-color: #ccc;
  color: #666;
}

#body .notices img {
  margin: 0.75rem auto;
}

#body img.shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.75);
}

blockquote code,
blockquote p {
  color: #aaa;
  font-size: 1rem;
}

blockquote {
  color: #aaa;
  font-family: 'Ubuntu';
  font-style: italic;
  border-left: 2px solid var(--MAIN-LINK-color);
}

hr {
  border-bottom: 2px solid var(--MAIN-LINK-color);
}

#sidebar ul li a:hover {
  text-shadow: 0px 0px 5px #ccc;
}

#chapter h1 {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to left,
    transparent 0%,
    #aaa 20%,
    #aaa 80%,
    transparent 100%
  );
  border-image-slice: 1;
}

#chapter h2,
#chapter h3,
#chapter h4,
#chapter h5,
#chapter h6 {
  text-align: left;
}

#chapter p:nth-child(3) {
  text-align: center;
  font-size: 1.4rem !important;
}

#chapter h3:nth-child(1) {
  text-align: center;
}

#body-inner {
  max-width: 1000px;
  margin: auto;
}

#chapter {
  max-width: 1000px;
  margin: auto;
}

#chapter p {
  font-size: 100% !important;
  text-align: left;
}

#chapter blockquote {
  font-size: 1rem;
}

#chapter #body-inner {
  max-width: 1000px;
}

.links {
  font-family: 'Ubuntu Light';
  font-variant: small-caps;
  font-size: 120%;
}

.mermaid {
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #ccc;
  border: solid 1px #666;
}

#header img {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  width: 40%;
  filter: drop-shadow(0px 0px 50px white);
}

#header a,
#header a:hover {
  font-family: 'Ubuntu Bold';
  color: #3b6628;
  font-size: 2.2rem;
  text-align: right;
}

#body .nav:hover {
  background-color: #26411a;
}

#top-bar {
  background-color: #222;
}

.fab,
.fas {
  text-align: center;
  width: 1.3em;
}

@media print {
  #sidebar {
    visibility: hidden;
  }

  #body {
    margin: 0;
    color: black;
    background-color: white;
  }

  #body .padding {
    padding: 0;
  }

  #body-inner {
    margin: 0;
    max-width: none;
  }

  #top-bar,
  #top-bar-sticky-wrapper {
    visibility: hidden;
  }

  .nav {
    visibility: hidden;
  }

  div.notices.note p,
  div.notices.info p,
  div.notices.tip p,
  div.notices.warning p,
  div.notices p,
  div.notices p:first-child:after,
  div.notices p:first-child:before {
    color: black;
  }

  div.notices.note p,
  div.notices.info p,
  div.notices.tip p,
  div.notices.warning p,
  div.notices p {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}
