@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  src: url(fonts/Ubuntu-R.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Bold';
  font-style: normal;
  src: url(fonts/Ubuntu-B.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Light';
  font-style: normal;
  src: url(fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Light';
  font-style: italic;
  src: url(fonts/Ubuntu-LI.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Thin';
  font-style: normal;
  src: url(fonts/Ubuntu-Th.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  src: url(fonts/UbuntuMono-R.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  src: url(fonts/UbuntuMono-RI.ttf) format('truetype');
}

:root {
  --MAIN-TEXT-color: #e6e6e6;
  --MAIN-LINK-color: #599a3e;
  --MAIN-LINK-HOVER-color: #74b559;
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ddd;
}

html {
  --scrollbarBG: black;
  --thumbBG: var(--MAIN-LINK-color);
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  font-size: 90% !important;
  font-family: 'Ubuntu';
  background-color: rgb(50, 50, 50);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu Thin';
  color: #aaa !important;
}

li::marker {
  margin-right: 5px;
}

code {
  font-family: 'Ubuntu Mono';
  background-color: rgb(35, 35, 35);
  border: 0;
  color: var(--MAIN-TEXT-color);
  padding: 2px;
  font-size: 100%;
  vertical-align: baseline;
}

div.notices.note p,
div.notices.info p,
div.notices.tip p,
div.notices.warning p {
  border-top-width: 27px;
}

div.notices p {
  border-radius: 4px;
  font-size: 100%;
  padding: 10px;
}

.notices code {
  background-color: #ccc;
  color: #666;
}

.featherlight-image {
  min-width: 50vh;
  padding: 10px;
  object-fit: cover;
}

img {
  background-color: rgb(50, 50, 50);
  color-adjust: exact;
  page-break-inside: avoid;
}

table,
td,
tr,
th {
  background: #27421b;
  border: solid 2px rgb(30, 30, 30);
}

td:first-child {
  color: #70e83a;
  background: #1a2c12;
}

tr {
  page-break-inside: avoid;
}

th {
  background: rgb(30, 30, 30);
  page-break-inside: avoid;
  font-family: 'Ubuntu Thin';
}

tr code {
  background-color: #1a2c12;
}

table img {
  background-color: transparent;
  transition: 1s ease-in-out;
}

td:hover img {
  filter: hue-rotate(-30deg) contrast(150%);
  transition: 0.5s ease-in-out;
}

#body .notices img {
  margin: 0.75rem auto;
  background-color: transparent;
}

#body img.shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.75);
}

blockquote code,
blockquote p {
  color: #aaa;
  font-size: 100%;
}

blockquote {
  color: #aaa;
  font-family: 'Ubuntu';
  font-style: italic;
  border-left: 2px solid var(--MAIN-LINK-color);
}

hr {
  border-bottom: 2px solid var(--MAIN-LINK-color);
}

#sidebar ul li a:hover {
  text-shadow: 0px 0px 5px #ccc;
}

#chapter h1 {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to left,
    transparent 0%,
    #aaa 20%,
    #aaa 80%,
    transparent 100%
  );
  border-image-slice: 1;
}

#chapter h2,
#chapter h3,
#chapter h4,
#chapter h5,
#chapter h6 {
  text-align: left;
}

#chapter p:nth-child(3) {
  text-align: center;
  font-size: 1.4rem !important;
}

#chapter h3:nth-child(1) {
  text-align: center;
}

#body-inner {
  max-width: 1000px;
  margin: auto;
}

#chapter {
  max-width: 1000px;
  margin: auto;
}

#chapter p {
  font-size: 100% !important;
  text-align: left;
}

#chapter blockquote {
  font-size: 1rem;
}

#chapter #body-inner {
  max-width: 1000px;
}

.highlight pre {
  padding: 0;
}

.highlight {
  background-color: rgb(30, 30, 30);
}

.hljs {
  padding: 1.2rem;
  background-color: rgb(30, 30, 30);
}

pre {
  background-color: rgb(30, 30, 30);
}

.links {
  font-family: 'Ubuntu Light';
  font-variant: small-caps;
  font-size: 120%;
}

.mermaid {
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #ccc;
  border: solid 1px #666;
}

#header img {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  width: 40%;
  filter: drop-shadow(0px 0px 50px white);
}

#header a,
#header a:hover {
  font-family: 'Ubuntu Bold';
  color: #3b6628;
  font-size: 2.2rem;
  text-align: right;
}

#body .nav:hover {
  background-color: #26411a;
}

#top-bar {
  background-color: #222;
}

.fab,
.fas {
  text-align: center;
  width: 1.3em;
}

@media print {
  html {
    font-size: 80% !important;
  }

  code {
    font-size: 100% !important;
  }

  table {
    color-adjust: exact !important;
    background: transparent;
  }

  td,
  tr {
    color-adjust: exact !important;
    background: #f0f0f0;
    border: solid 2px white;
  }

  tr code {
    color: black;
    background-color: #e0e0e0;
  }

  th {
    color-adjust: exact !important;
    background: white;
    color: black;
    border: solid 2px white;
    font-family: 'Ubuntu';
  }

  td,
  th {
    padding: 0.3rem;
  }

  td:first-child {
    color-adjust: exact !important;
    color: black;
    background: #e0e0e0;
  }

  #sidebar {
    display: none !important;
  }

  #body {
    margin: 0;
    color: black;
    background-color: white;
  }

  #body .padding {
    padding: 0;
  }

  #body-inner {
    margin: 0;
    max-width: none;
  }

  #top-bar,
  #top-bar-sticky-wrapper {
    display: none !important;
  }

  #navigation {
    display: none !important;
  }

  .blackprint {
    background-color: black;
  }

  img {
    background-color: transparent;
  }

  pre {
    padding: 0.25rem;
    margin: 0;
  }

  div.notices.note p,
  div.notices.info p,
  div.notices.tip p,
  div.notices.warning p,
  div.notices p,
  div.notices p:first-child:after,
  div.notices p:first-child:before {
    color: black;
  }

  div.notices.note p,
  div.notices.info p,
  div.notices.tip p,
  div.notices.warning p,
  div.notices p {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}
